@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="btn" style="cursor: auto;">Hello @UserManager.GetUserName(User)!</span>
    </li>
    if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a asp-controller="Logs" asp-action="Index" class="btn btn-link">Watch logs</a>
        </li>
    }
    <li class="nav-item">
        <form asp-controller="Accounts" asp-action="LogOut" method="post" id="logoutForm">
            <input type="submit" class="btn btn-link" value="Log off" />
        </form>
    </li>

    <form class="form-inline pull-xs-right"  method="post" asp-action="Post" asp-controller="Images" enctype="multipart/form-data">
        <input id="image-inline" type="file" class="form-control" name="image" accept="image/*" required onchange="update_filename('image-inline','filename-inline')" hidden>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary-outline no-border-right" onclick="document.getElementById('image-inline').click();return false;">
                        <i class="fa fa-file-image-o"></i>
                    </button>
                </span>
                <input id="filename-inline" type="text" required class="form-control form-control-primary" placeholder="Select file">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary-outline">Upload</button>
                </span>
            </div>
         </div>
    </form>
}
