@using Common.Models
@model List<Image>
@{
    ViewBag.Title = "Feed";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <div class="card-columns">
        @foreach (Image image in Model)
        {
            <div class="card">
                <a asp-controller="Image" asp-action="Display" asp-route-id="@image.Id">
                    <img class="card-img-top" src="@image.Path" />
                </a>
                <div class="card-footer">
                    <span class="text-muted">posted by @image.Owner.</span>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="container text-sm-center">
        <h1>You have nothing in your feed..</h1>
        <p class="lead"> Upload a picture to get started!</p>
    </div>
}

