@model List<ImageViewModel>
@{
    ViewBag.Title = "Feed";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <div class="card-columns">
        @Html.DisplayFor(model => model)
    </div>
}
else
{
    <div class="container text-sm-center">
        <h1>You have nothing in your feed..</h1>
        <p class="lead"> Upload a picture to get started!</p>
    </div>
}

