@model List<ImageViewModel>
@{
    ViewBag.Title = "Feed";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <button id="button-toggle-shared" class="btn btn-primary" style="margin: 5px">Show only my images</button>
    <div class="card-columns" style="column-count: 1; text-align: center">
        @Html.DisplayFor(model => model)
    </div>
}
else
{
    <div class="container text-sm-center">
        <h1>You have nothing in your feed..</h1>
        <p class="lead"> Upload a picture to get started!</p>
    </div>
}

<script>
    var hidden = false;

    $(document).ready(function () {
        var button = $("#button-toggle-shared");
        button.click(function() {
            if (hidden) {
                button.html("Show only my images");
                $(".image-shared").show();
                hidden = false;
            } else {
                button.html("Show all images");
                $(".image-shared").hide();
                hidden = true;
            }
        });
    });
</script>